<% layout('/layout') -%>
<form method="POST" action="/command_center/numbers/<%=id%>/edit">
  <div class="jjjjjjj"><div class="ifuckinghatehtml"><label for="firstname">First name:</label></div><input type="text" name="firstname" id="firstname" value="<%=firstname%>"></input></div>
  <div class="jjjjjjj"><div class="ifuckinghatehtml"><label for="lastname">Last name:</label></div><input type="text" name="lastname" id="lastname" value="<%=lastname%>"></input></div>
  <div class="jjjjjjj"><div class="ifuckinghatehtml"><label for="phonenr">Phone number:</label></div><input type="text" name="phonenr" id="phonenr" value="<%=phonenr%>"></input></div>
  <div class="jjjjjjj"><div class="ifuckinghatehtml"></div><input type="submit"></input></div>
</form>
