<% layout('/layout') -%>
<form method="POST" action="/command_center/numbers/<%=id%>/edit">
  <p>First name: <input type="text" name="firstname" value="<%=firstname%>"></input></p>
  <p>Last name: <input type="text" name="lastname" value="<%=lastname%>"></input></p>
  <p>Phone number: <input type="text" name="phonenr" value="<%=phonenr%>"></input></p>
  <p><input type="submit"></input></p>
</form>
