<% layout('/layout') -%>
<p class="topalign">Welcome to the command center!</p>
<p>
This is a really dorky name. I know.
It would be kind of a lot of effort to change it now so I'm not going to.
</p>
<form method="post" action="/logout">
  <input type="submit" value="logout"></input>
</form>
