<% layout('/layout') -%>
<div class="margin thin-border">
  <h3 class="action" id="expand-recipient-list">&#9660; Recipients</h3>
  <div class="margin-top" id="recipient-list">
    <div class="border-bottom">Oh no, you have no recipients.
      This means your message won't be sent anywhere.
      Maybe you're retarded?
    </div>
    <div class="right-half">
      People click dat shit to add<br>
      <% for (var i = 0; i < people.length; ++i) { -%>
        - <%= people[i].firstname %> <% people[i].lastname %><br>
      <% } -%>
    </div>
    <div>
      Groups click dat shit to add<br>
      <% for (var i = 0; i < groups.length; ++i) { -%>
        - <%= groups[i].name %><br>
      <% } -%>
    </div>
  </div>
</div>
<div><form method="post" action="/command_center/<%= type %>/send">
  <textarea>Holy fuck you can send people this text!</textarea>
  <input type="submit"></input>
</form></div>
<script>
  $(function() {
    $('#expand-recipient-list').click(function() {
      var list = $('#recipient-list');
      if (list.is(':hidden')) {
        list.show('fast');
        $('#expand-recipient-list').html('&#9660; Recipients');
      } else {
        list.hide('fast');
        $('#expand-recipient-list').html('&#9658; Recipients');
      }
    });

    // hide the recipient list by default
    $('#expand-recipient-list').html('&#9658; Recipients');
    $('#recipient-list').hide();
  });
</script>
