<% layout('/layout') -%>
<form method="post" action="/command_center/numbers/new">
  <div class="jjjjjjj"><div class="ifuckinghatehtml"><label for="firstname">First name:</label></div><input type="text" id="firstname" name="firstname"></input></div>
  <div class="jjjjjjj"><div class="ifuckinghatehtml"><label for="lastname">Last name:</label></div><input type="text" id="lastname" name="lastname"></input></p></div>
  <div class="jjjjjjj"><div class="ifuckinghatehtml"><label for="phonenr">Phone number:</label></div><input type="text" id="phonenr" name="phonenr"></input></div>
  <div class="jjjjjjj"><div class="ifuckinghatehtml"></div><input type="submit"></input></div>
</form>
