<% layout('/layout') -%>
<form method="post" action="/command_center/numbers/new">
  <p>First name: <input type="text" name="firstname"></input></p>
  <p>Last name: <input type="text" name="lastname"></input></p>
  <p>Phone number: <input type="text" name="phonenr"></input></p>
  <p><input type="submit"></input></p>
</form>
