<ul id="nav">
  <li><a href="/command_center">Command center home</a></li>
  <li><a href="/command_center/text/new">Send a text</a></li>
  <li><a href="/command_center/call/new">Send a call</a></li>
  <li><a href="/command_center/schedule/new">Schedule a text or call</a></li>
  <li><a href="/command_center/schedule">View/edit schedule</a></li>
  <li><a href="/command_center/numbers">View/edit phone numbers</a></li>
  <li><a href="/command_center/groups">View/edit groups</a></li>
</ul>
