<ul id="nav">
  <li><a href="/command_center">Home</a></li>
  <li><a href="/command_center/text/new">Send a text</a></li>
  <li><a href="/command_center/call/new">Send a call</a></li>
  <li><a href="/command_center/schedule">Schedule</a></li>
  <li><a href="/command_center/numbers">Phone numbers</a></li>
  <li><a href="/command_center/groups">Groups</a></li>
</ul>
