html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, form {
  margin: 0;
  padding: 0;
}

#floater {
  position: relative;
  float: left;
  height: 50%;
  margin-bottom: -250px;
  width: 1px;
}

#centered {
  position: relative;
  clear: left;
  height: 500px;
  width: 80%;
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
  background: #fff;
  border: 4px solid #666;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#side {
  position: absolute;
  width: 30%;
  padding-top: 20px;
  margin-top: 10px;
}

#side h1 {
  margin-left: 10px;
  text-align: center;
  visibility: hidden;
}

#nav {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-top: 1em;
  list-style: none;
  text-indent: 0;
}

#nav li a {
  display: block;
  background-color: #e8e8e8;
  padding: 7px;
  margin: 0;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #bbb;
  text-align: right;
}

#nav li a::after {
  content: '>>';
  color: #aaa;
  font-weight: bold;
  display: inline;
  float: right;
  margin: 0 2px 0 5px;
}

#nav li a:hover, #nav li a:focus {
  background: #f8f8f8;
  border-bottom-color: #777;
}

#nav li a:hover::after {
  margin: 0 0 0 7px; color:#f93;
}

#nav li a:active {
  padding: 8px 7px 6px 7px;
}

#content {
  position: absolute;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  height: 440px;
  padding: 20px;
  margin: 10px;
}

a {
  color: #00B7FF;
}

.action {
  cursor: pointer;
}

textarea, .thin-border {
  border: 1px #000 solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  width: 100%;
}

textarea {
  height: 6em;
}

.margin {
  margin: 1em 0;
}

.margin-top {
  margin-top: 0.5em;
  overflow: hidden;
}

.right-half {
  float: right;
  width: 50%;
  border-left: 1px solid #000;
  margin-left: -3px;
  padding-left: 3px;
}

.left-half {
  margin-right: 50%;
  padding-right: 6px;
}

#recipient-list h5 {
  border-bottom: 1px solid #000;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.border-bottom {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

p.recip {
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

p.recip::before {
  font-weight: bold;
  color: #aaa;
}

p.recip.out::before {
  content: "+ ";
}

p.recip.in::before {
  content: "\2013 "; /* ndash */
}

p.recip.out {
  margin-top: 0.2em;
}

p.recip:hover {
  background-color: #ddd;
}

