<% layout('/layout') -%>
<p>Is your name Clark?</p>
<p>Did you write a musical called the list?</p>
<p>If so, type in the secret password to start bugging your cast with annoying texts and automated phone calls right away!</p>
<form method="post" action="/login">
  <input type="password" name="password" id="secretpassword" placeholder="Type some shit here"></input>
  <input type="submit" value="Let's get started!"></input>
</form>
