<% layout('/layout') -%>
<p>You typed the wrong password.</p>
<% if (typeof nicetry != 'undefined') { %>
<p>I bet you thought you were really clever and could guess the password. Well, guess what? I was expecting you.</p>
<% } %>
<p>If you are not Clark, please stop trying to use this site.</p>
<p><a href="/">Go back to the home page</a></p>
