<% layout('/layout') -%>
<p>It appears your system has already been setup.
You can override the existing setup if you wish,
but it is generally not recommended.
If you do this, your existing numbers, schedules and groups will be deleted.</p>
<p><a href="/command_center">Go back to the command center</a></p>
<p><a href="/setup?sure">Go to setup</a></p>
