<% layout('/layout') -%>
<p>Welcome to setup.</p>
<form method="post" action="/setup/finish">
  DB host: <input type="text" name="dbhost"></input><br>
  DB user: <input type="text" name="dbuser"></input><br>
  DB password: <input type="text" name="dbpass"></input><br>
  DB name: <input type="text" name="dbname"></input><br>
  twilio key: <input type="text" name="twiliokey"></input><br>
  twilio secret: <input type="text" name="twiliosecret"></input><br>
  twilio phone: <input type="text" name="twiliophone"></input><br>
  <input type="submit"></input>
</form>
